:host {
    width: 100%;
}

.select-container {
    position: relative;
    font-family: sans-serif;
}

/* .select-trigger {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.select-trigger:hover {
    border-color: #888;
} */

.icon {
    transition: transform 0.2s ease;
}

.icon.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background: var(--bg-light);
    border: var(--border-card);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.search-container {
    padding: 8px;
    border-bottom: 1px solid var(--border);
}

.search-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background: transparent;
    border: var(--border-card);
    border-radius: var(--radius-default);
    outline: none;
}

.search-input:focus {
    border-color: var(--primary);
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.option-item {
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color 100ms ease-in;
}

.option-item:hover {
    background-color: var(--primary);
    color: var(--text);
}

.option-item.selected {
    color: var(--primary);
    font-weight: 700;
}

.option-item.selected:hover {
    color: var(--text);
    font-weight: 700;
}

.no-results {
    padding: 10px 12px;
    color: var(--text);
    text-align: center;
}

.backdrop {
    position: fixed;
    inset: 0; /* Shorthand for top: 0, right: 0, bottom: 0, left: 0 */
    z-index: 999; /* Ensure this is LOWER than your .dropdown-menu z-index (e.g., 1000) */
    cursor: default;
}
.button-container-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}
