<!-- TODO EL CONTENIDO DE LA PÁGINA -->
<!-- Estadisticas sobre datos generales de la aplicación -->
<dashboard-index-stats />

<!-- Revisa si el dispositivo es móvil para poder renderizar el contenido acorde a cada dispoitivo -->
@if (responseService.isMobile()) {
    <h3 class="table-title">Atención Requerida: Brigadas Morosas (seleccionar tarjeta)</h3>
    @if (isLoadingTableData()) {
        <h4 style="text-align: center">Cargando métricas...</h4>
    } @else if (data().length === 0) {
        <h4 style="text-align: center">No se encontraron datos.</h4>
    } @else {
        <div class="card-mobile-container">
            @for (item of data(); track $index) {
                <div class="card-mobile" (click)="showActions(item)">
                    <qrcode
                        [qrdata]="item.qrCode"
                        [width]="96"
                        [errorCorrectionLevel]="'M'"
                        style="text-align: center"
                    ></qrcode>
                    <div class="card-mobile-info">
                        <div>
                            <p class="card-mobile-info-brigade">{{ item.brigade }}</p>
                            <p class="card-mobile-info-months">
                                Retraso de
                                <span>{{ item.monthsDelayed }}</span>
                                meses
                            </p>
                            <p class="card-mobile-info-gold">
                                {{ item.totalDebtGold | number: '1.2-2' : 'es' }} g
                            </p>
                            <p class="card-mobile-info-link-action">
                                Ver más información
                                <ng-icon
                                    name="lucideExternalLink"
                                    color="var(--text-muted)"
                                    size="14"
                                ></ng-icon>
                            </p>
                        </div>
                        <!-- <ui-button type="button" (clicked)="showActions(item)">Gestionar</ui-button> -->
                    </div>
                </div>
            }
        </div>
    }
} @else {
    <ui-card>
        <h3 class="table-title">Atención Requerida: Brigadas Morosas</h3>
        <ui-table [headers]="headers">
            @if (isLoadingTableData()) {
                <tr>
                    <td [colSpan]="headers.length" style="text-align: center">
                        Cargando métricas...
                    </td>
                </tr>
            } @else if (data().length === 0) {
                <tr>
                    <td [colSpan]="headers.length" style="text-align: center">
                        No se encontraron datos.
                    </td>
                </tr>
            } @else {
                @for (item of data(); track $index) {
                    <tr>
                        <td style="text-align: center">
                            <qrcode
                                [qrdata]="item.qrCode"
                                [width]="96"
                                [errorCorrectionLevel]="'M'"
                            ></qrcode>
                            {{ item.qrCode }}
                        </td>
                        <td>{{ item.brigade }}</td>
                        <td>{{ item.monthsDelayed }}</td>
                        <td>{{ item.totalDebtGold | number: '1.2-2' : 'es' }} g</td>
                        <td>
                            <ui-button type="button" (clicked)="showActions(item)"
                                >Gestionar</ui-button
                            >
                        </td>
                    </tr>
                }
            }
        </ui-table>
    </ui-card>
}
