<div class="products-header">
    <h2 style="color: var(--primary)">Gestión de Inventario (Multi-Almacén)</h2>
    <div>
        <ui-button type="button" kind="primary" (clicked)="createProductModal()"
            ><ng-icon name="bootstrapPlus"></ng-icon>Nuevo Producto</ui-button
        >
    </div>
</div>

<ui-card>
    <ui-table [headers]="headers">
        @if (isLoadingTableData()) {
            <tr>
                <td [colSpan]="headers.length" style="text-align: center">
                    Cargando inventario...
                </td>
            </tr>
        } @else if (data().length === 0) {
            <tr>
                <td [colSpan]="headers.length" style="text-align: center">
                    No se encontraron datos.
                </td>
            </tr>
        } @else {
            @for (item of data(); track $index) {
                <tr>
                    <td>
                        {{ item.product }}
                    </td>
                    <td>{{ item.price | number: '1.2-2' : 'es' }} g</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.distribution }}</td>
                    <td>
                        <ui-button type="button" (clicked)="showActions(item)">Gestionar</ui-button>
                        <ui-button type="button" (clicked)="newStockModal(item)"
                            >Agregar inventario</ui-button
                        >
                        <!-- <ui-button type="button" (clicked)="showActions(item)">Transferir inventario</ui-button> -->
                    </td>
                </tr>
            }
        }
    </ui-table>
</ui-card>

<!-- Modales para realizar acciones como crear o modificar información -->
<!-- Crear producto -->
<dashboard-product-form
    [isOpen]="isOpenCreateProduct()"
    (close)="createProductModal()"
></dashboard-product-form>

<!-- Modificar stock -->
<dashboard-inventory-form
    [(productId)]="productId"
    [isOpen]="isOpenNewStock()"
    (close)="closeNewStockModal()"
>
</dashboard-inventory-form>

<!-- Transferir stock entre centros de distribución -->
<!-- <ui-modal [isOpen]="isOpenTransferStock()">
    <h3 modal-header>Crear producto</h3>

    <form action="" modal-body [formGroup]="createProductForm" (ngSubmit)="createProduct()">
        <ui-input label="Nombre">
            <input type="text" formControlName="name" />
        </ui-input>

        <input type="hidden" [value]="messureUnitValue()?.value" formControlName="messureUnit" />
        <ui-select
            placeholder="Unidad de medida"
            [options]="messureOptions"
            [selectedValue]="messureUnitValue()"
        >
        </ui-select>

        <ui-input label="Precio (Grama)">
            <input
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                formControlName="price"
                appNumberOnly
                [allowDecimals]="true"
            />
        </ui-input>

        <ui-button type="submit" kind="primary">Guardar</ui-button>
    </form>
</ui-modal> -->
