:host {
    display: block;
    width: 100%;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    border: var(--border-card);
    border-color: var(--border);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-light);
    padding: 0rem 0.5rem;

    transition: border-color 300ms ease-in;
}

.input-container:focus-within {
    border-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
    .input-container:focus-within {
        border-color: var(--secondary-darker);
    }
}

.has-icon {
    gap: 1rem;
}

.icon-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 0rem;
    background-color: transparent;
    width: 100%;
    color: var(--text);
}

.error-text {
    color: var(--warning);
}

.error-container {
    border-color: var(--warning);
}
