:host {
    width: 80%;
}
@media (min-width: 640px) {
    :host {
        width: 450px;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 450px;
    width: 100%;
}
.login-card {
    background-color: var(--bg);
}

.input-elements {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.action-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.register-link {
    color: var(--secondary);
    text-decoration: underline;
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.register-link:hover {
    color: var(--secondary-darker);
}

.global-error-alert {
    text-align: center;
    color: var(--warning);
}

.form-container {
    width: 100%;
}
