<ui-card class="login-card">
    <div class="login-container">
        <img ngSrc="cvm-logo-169.png" width="300" height="168.8" />
        <div class="divider"></div>

        @if (globalError().length > 0) {
            <div class="global-error-alert">
                {{ globalError() }}
            </div>
        }

        <form action="" class="form-container" [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="input-elements">
                <!-- Elemento base para poder usarlo como input manteniendo las clases en caso de ser necesario -->
                <ui-input label="Correo Electrónico" [errorMessage]="emailError()">
                    <ng-icon name="bootstrapPerson"></ng-icon>
                    <input
                        id="email"
                        type="text"
                        placeholder="usuario@cvm.com.ve"
                        formControlName="email"
                        required
                    />
                </ui-input>
                <ui-input label="Contraseña" [errorMessage]="passwordError()">
                    <ng-icon name="bootstrapKey"></ng-icon>
                    <input
                        id="password"
                        type="password"
                        placeholder="••••••••"
                        formControlName="password"
                        required
                    />
                </ui-input>
            </div>

            <div class="action-elements">
                <ui-button type="submit" [disabled]="isLoading()">
                    @if (isLoading()) {
                        Cargando...
                    } @else {
                        Iniciar sesión
                    }
                </ui-button>
                <p>¿No tienes cuenta? Registrate <span class="register-link">aquí</span></p>
            </div>
        </form>
    </div>
</ui-card>
