.dashboard-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

@media (max-width: 769px) {
    .dashboard-layout {
        grid-template-columns: 1fr;
        gap: 0rem;
        padding: 1rem;
    }
    .dashboard-container {
        padding: 0rem;
        gap: 0.5rem;
    }
}
